.body-producto-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

}

.main-producto-informacion {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.contenedor-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
    width: 100%;
    height: 8rem;
    //background-color: aqua;

    div {
        ol {
            li {
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

#section-detalle-compra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 28rem;
    width: 100%;
    //border: 1px solid red;
}

.imgs-producto {
    align-self: flex-start;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    //border: 1px solid yellow;
}

.imagen-central-producto {
    width: 60%;
    height: 70%;
    //border: 1px solid black;

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.imagenes-muestra-producto {
    height: 5rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    //border: 1px solid blue;

    img {
        height: 100%;
        width: 5rem;
        border-radius: 5px;

        &:hover {
            opacity: 0.5;
        }
    }
}

.info-compra-producto {
    align-self: flex-start;
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;
    //border: 1px solid pink;
}

.detalle-producto-stock {
    width: fit-content;
    height: fit-content;
    font-size: 0.7rem;
    //border: 1px solid green;
}

.contenedor-nombre-precio {
    width: fit-content;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //border: 1px solid red;
}

.detalle-nombre-producto {
    width: fit-content;
    height: 2.5rem;
    background-color: #F4B56E;
    /* border-top-left-radius: 48%;
    border-bottom-left-radius: 48%;
    border-top-right-radius: 48%;
    border-bottom-right-radius: 48%; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.detalle-precio-producto {
    font-size: 1.2rem;
    color: #F4B56E;
    font-weight: 500;
}

/* .contenedor-cantidad-compra {
    //border: 1px solid red;
} */

.cantidad-compra-encabezado {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}

.cantidad-compra-producto {
    width: 10rem;
    height: 2rem;
    //border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.mas-cantidad {
    width: 2rem;
    height: 100%;
    border-radius: 2px;
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:active {
        color: rgb(120, 178, 248);
    }
}

.cantidad-actual-compra {
    width: 5rem;
    height: 100%;
    border-radius: 2px;
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.menos-cantidad {
    width: 2rem;
    height: 100%;
    border-radius: 2px;
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:active {
        color: rgb(120, 178, 248);
    }
}

.boton-agregar-carrito {
    width: 12rem;
    height: 2.5rem;
    border: transparent;
    //border: 1px solid red;

    div {
        border-radius: 4px;
        border: transparent;
        background-color: #3E716A;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-weight: 500;
        color: white;
        cursor: pointer;

    }
}

#section-descripcion-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 15rem;

    ul {
        height: 4rem;
        display: flex;
        align-items: center;
    }

    p {
        width: 95%;
        align-self: center;
        //border: 1px solid blue;
    }
}

#productos-relacionados-cards {
    width: 100%;
    height: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.encabezado-productos-relacionados {
    //border: 1px solid red;
    height: 2.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid #F4B56E;
}

.cards-relacionados {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.background-figuras-producto {
    width: inherit;
    //overflow: hidden;
    position: relative;

    .background-p-1 {
        position: absolute;
        left: -50px;
        top: 50px;

        img {
            width: 8rem;
            height: 8rem;
        }
    }

    .background-p-2 {
        position: absolute;
        right: -50px;
        top: 50px;

        img {
            width: 8rem;
            height: 8rem;
        }
    }

    .background-p-3 {
        position: absolute;
        left: -80px;
        top: 85vh;

        img {
            width: 8rem;
            height: 8rem;
        }
    }

    .background-p-4 {
        position: absolute;
        right: 0px;
        top: 90vh;

        img {
            width: 8rem;
            height: 8rem;
        }
    }

    .background-p-5 {
        position: absolute;
        left: -50px;
        top: 90vh*2;

        img {
            width: 8rem;
            height: 8rem;
        }
    }

    .background-p-6 {
        position: absolute;
        right: -80px;
        top: 90vh*2;

        img {
            width: 8rem;
            height: 8rem;
        }
    }

}


/* ------------------------------------------------ MOBILE ----------------------------------------------------------  */

@media (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: "Fredella", sans-serif;
        display: flex;
        flex-direction: column;
    }

    .body-producto-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;

    }

    .main-producto-informacion {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .contenedor-breadcrumb {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 1rem;
        width: 100%;
        height: 8rem;
        //background-color: aqua;

        div {
            ol {
                li {
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

    #section-detalle-compra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 42rem;
        width: 100%;
        //border: 1px solid red;
    }

    .imgs-producto {
        align-self: flex-start;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        //border: 1px solid yellow;
    }

    .imagen-central-producto {
        width: 60%;
        height: 70%;
        //border: 1px solid black;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    .imagenes-muestra-producto {
        height: 5rem;
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        //border: 1px solid blue;

        img {
            height: 100%;
            width: 5rem;
            border-radius: 5px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .info-compra-producto {
        align-self: flex-start;
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 0rem;
        //border: 1px solid pink;
    }

    .detalle-producto-stock {
        width: fit-content;
        height: fit-content;
        font-size: 0.7rem;
        //border: 1px solid green;
    }

    .contenedor-nombre-precio {
        width: fit-content;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        //border: 1px solid red;
    }

    .detalle-nombre-producto {
        width: fit-content;
        height: 2.5rem;
        background-color: #F4B56E;
        /* border-top-left-radius: 48%;
    border-bottom-left-radius: 48%;
    border-top-right-radius: 48%;
    border-bottom-right-radius: 48%; */
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
    }

    .detalle-precio-producto {
        font-size: 1.2rem;
        color: #F4B56E;
        font-weight: 500;
    }

    /* .contenedor-cantidad-compra {
    //border: 1px solid red;
} */

    .cantidad-compra-encabezado {
        font-size: 0.8rem;
        font-weight: 700;
        text-align: center;
    }

    .cantidad-compra-producto {
        width: 10rem;
        height: 2rem;
        //border: 1px solid black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .mas-cantidad {
        width: 2rem;
        height: 100%;
        border-radius: 2px;
        background-color: #E9E9E9;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:active {
            color: rgb(120, 178, 248);
        }
    }

    .cantidad-actual-compra {
        width: 5rem;
        height: 100%;
        border-radius: 2px;
        background-color: #E9E9E9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
    }

    .menos-cantidad {
        width: 2rem;
        height: 100%;
        border-radius: 2px;
        background-color: #E9E9E9;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:active {
            color: rgb(120, 178, 248);
        }
    }

    .boton-agregar-carrito {
        width: 12rem;
        height: 2.5rem;
        border: transparent;
        //border: 1px solid red;

        div {
            border-radius: 4px;
            border: transparent;
            background-color: #3E716A;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-weight: 500;
            color: white;

        }
    }

    #section-descripcion-producto {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding: 0.8rem;
        height: 15rem;

        ul {
            height: 4rem;
            display: flex;
            align-items: center;
        }

        p {
            width: 85%;
            padding: 1rem;
            align-self: center;
            //border: 1px solid blue;
        }
    }

    #productos-relacionados-cards {
        width: 100%;
        height: 54rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .encabezado-productos-relacionados {
        //border: 1px solid red;
        height: 2.5rem;
        font-weight: 600;
        font-size: 1.2rem;
        border-bottom: 2px solid #F4B56E;
    }

    .cards-relacionados {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        #card-relacionados-1 {
            height: 45%;
            width: 20%;

            img {
                max-width: 100%;
                height: auto;
                overflow: hidden;
            }
        }

        #card-relacionados-2 {
            height: 45%;
            width: 20%;

            img {
                max-width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
    }

    .background-figuras-producto {
        width: inherit;
        //overflow: hidden;
        position: relative;

        .background-p-1 {
            position: absolute;
            left: -50px;
            top: 50px;

            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .background-p-2 {
            position: absolute;
            width: fit-content;
            right: 0px;
            top: 10px;

            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .background-p-3 {
            position: absolute;
            left: -80px;
            top: 84vh;

            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .background-p-4 {
            position: absolute;
            right: 0px;
            top: 90vh;

            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .background-p-5 {
            position: absolute;
            left: -50px;
            top: 90vh*2;

            img {
                width: 8rem;
                height: 8rem;
            }
        }

        .background-p-6 {
            display: none;
            position: absolute;
            right: -80px;
            top: 90vh*2;

            img {
                width: 8rem;
                height: 8rem;
            }
        }

    }

}