
.shopcart{
    position: relative;
    z-index: 20;
}

.summary-cart{
    display: flex;
    flex-direction: column;
    background-color: #e4f0f0;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1.5rem;

    .summary-title{
        h5{
            font-size: 1.5rem;
        }
    }

    .summary-total,.summary-amount{
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
    }
    
    .btn-complete{
        margin-top: 1rem;
        background-color: #3E716A;
    }

}

.cart-products{
    border-top: 1px solid #e6e5e5;
    padding-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;

    hr{
        border-top: 1px solid #b1b1b1;
        margin-top: 0;
    }
}

.product-cart{
    padding: 2rem 0;

    &-figure{
        img{
            width: 15rem;
        }
    }
    &-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .btn-close{
            background-size: .7rem;
        }

        .btn-close:focus{
            box-shadow: none;
        }
    }
}