@media screen and (max-width: 780px){
    
    .contact{
        &-detail{
            gap: 1rem;
            margin-bottom: 1rem;
           &-row{
            gap: 1rem;
            margin: .5rem 3rem;
            
           }
        }
    }

    .catalog{
        .filter{
            margin: 0 2rem;
    
            &-content{
                width: 100%;
            }
        }
    
        .product{
            margin: 0 2rem;
        }

    }
    
}