@media screen and (max-width: 780px){

    // CONTACTO
    .contact{
        &-detail{
            gap: 1rem;
            margin-bottom: 1rem;
           &-row{
            gap: 1rem;
            margin: .5rem 3rem;
            
           }
        }
    }

    // CATALOGO
    .catalog{
        &-title{
            margin-left: 2.3rem;
        }
        .filter{
            margin: 0 2rem;
    
            &-content{
                width: 100%;
            }
        }
        .products{
            margin: 0 2rem;
        }
    
        .product{
           
            &-details{
                position: relative;
                opacity: 1;
                background: transparent;
                .btn{
                    margin-bottom: 2rem;
                    filter: none;
                    border-radius: 10px;
                    width: 4rem;
                }
            }
            &-price{
                padding-bottom: 1rem;
            }
        }

    }

    // CARRITO DE COMPRAS
    .shopcart{
        &-title {
            text-align: center;
            margin-top: 2rem;
          }
    }

    .product-cart{
        padding: 0rem 1rem 1rem 1rem;

        &-figure{
            img{
                width: 8rem;
            }
        }
    }

    .cart-products{
        margin-right: 0;
    }
    
}