@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html, body {
  margin: 0;
  height: 100%; }

.form-control:focus {
  border: 2px dotted #676666;
  outline: none;
  box-shadow: none; }

@font-face {
  font-family: "Fredella";
  src: url("../../../fonts/CreamCake.otf"); }

.contact-card {
  background-color: #FBDBC3; }
  .contact-card .btn-send {
    background-color: #3E716A;
    border: none;
    width: 100%; }

.contact-header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  position: relative; }
  .contact-header img {
    width: 4rem;
    height: 3.5rem; }

.contact-title {
  display: inline-flex;
  font-family: "Fredella", sans-serif;
  margin: auto 0;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  justify-content: center;
  align-items: center; }

.contact-title::before {
  content: '';
  position: absolute;
  content: '';
  background-color: #FBDBC3;
  width: 150px;
  height: 3px;
  bottom: -10px; }

.contact-detail {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin-bottom: 1rem; }
  .contact-detail-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 5rem; }

.contact .avatar {
  width: 8rem;
  margin: auto; }

.contact .icon-circle {
  width: fit-content;
  border-radius: 50%;
  overflow: hidden; }
  .contact .icon-circle img {
    width: 4rem;
    height: auto; }

.catalog-route {
  margin: 2rem .5rem; }
  .catalog-route li > a {
    text-decoration: none; }

.catalog-title {
  display: inline-flex;
  font-family: "Fredella", sans-serif;
  margin-left: 20.6rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative; }

.catalog .filter {
  margin-top: 4rem; }
  .catalog .filter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom: 2rem; }
  .catalog .filter-search {
    display: flex;
    width: 100%;
    margin-bottom: 1rem; }
    .catalog .filter-search input {
      border: none;
      background-color: #f2f3f2;
      padding: .6rem 1rem;
      outline: none;
      width: inherit; }
    .catalog .filter-search button {
      border: none;
      background: #f2f3f2;
      padding: 0 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
  .catalog .filter-prices, .catalog .filter-brand {
    width: 100%; }
  .catalog .filter .btn-filter {
    display: block;
    background-color: #3E716A;
    color: white; }
  .catalog .filter-title {
    text-transform: uppercase;
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0.7rem;
    font-weight: 500;
    color: #151515;
    border-bottom: 1px solid #e1e1e1; }
  .catalog .filter-list {
    list-style: none;
    padding-left: 0; }

.catalog .products {
  margin-top: 4rem; }
  .catalog .products-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
  .catalog .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13.2rem, 1fr));
    grid-gap: 3rem;
    justify-content: space-evenly; }
  .catalog .products-pagination {
    padding: 3rem 0; }
    .catalog .products-pagination .navigation {
      display: flex; }
    .catalog .products-pagination li {
      border: none; }

.catalog .product {
  border: 1px solid #e1e1e1;
  border-radius: 0.375rem;
  transition: 450ms all;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .catalog .product-figure {
    border-bottom: 1px solid #e1e1e1;
    height: 16rem; }
    .catalog .product-figure img {
      width: 100%;
      height: inherit;
      object-fit: cover; }
  .catalog .product-title {
    padding-top: 1.5rem;
    color: #C48033;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif; }
  .catalog .product-price {
    padding: .7rem 1rem;
    padding-bottom: 1.5rem;
    font-size: .8rem;
    color: #3E716A;
    font-weight: 600; }
  .catalog .product-details {
    position: absolute;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    background-color: rgba(166, 166, 166, 0.35);
    width: 100%;
    height: 100%; }
    .catalog .product-details-btns {
      display: flex;
      flex-direction: row;
      gap: .3rem; }
    .catalog .product-details .btn-view {
      width: 2.7rem;
      height: 2.7rem;
      background-color: #F0B214;
      border-radius: 50%;
      color: #e1e1e1;
      border: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
    .catalog .product-details .btn {
      display: flex;
      justify-content: center;
      align-items: center; }
    .catalog .product-details .btn-add {
      width: 2.7rem;
      height: 2.7rem;
      background-color: #3E716A;
      border-radius: 50%;
      color: #e1e1e1;
      border: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .catalog .product:hover {
    transform: scale(1.08);
    z-index: 2; }
  .catalog .product:hover .product-details {
    opacity: 1;
    z-index: 5;
    align-self: center; }
  .catalog .product-title, .catalog .product-price {
    text-align: center; }

.body-producto-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; }

.main-producto-informacion {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }

.contenedor-breadcrumb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 100%;
  height: 8rem; }
  .contenedor-breadcrumb div ol li a {
    text-decoration: none;
    color: black; }

#section-detalle-compra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 100%; }

.imgs-producto {
  align-self: flex-start;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.imagen-central-producto {
  width: 60%;
  height: 70%; }
  .imagen-central-producto img {
    width: 100%;
    height: 100%;
    border-radius: 5px; }

.imagenes-muestra-producto {
  height: 5rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px; }
  .imagenes-muestra-producto img {
    height: 100%;
    width: 5rem;
    border-radius: 5px; }
    .imagenes-muestra-producto img:hover {
      opacity: 0.5; }

.info-compra-producto {
  align-self: flex-start;
  width: 40%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 2rem; }

.detalle-producto-stock {
  width: fit-content;
  height: fit-content;
  font-size: 0.7rem; }

.contenedor-nombre-precio {
  width: fit-content;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.detalle-nombre-producto {
  width: fit-content;
  height: 2.5rem;
  background-color: #F4B56E;
  /* border-top-left-radius: 48%;
    border-bottom-left-radius: 48%;
    border-top-right-radius: 48%;
    border-bottom-right-radius: 48%; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase; }

.detalle-precio-producto {
  font-size: 1.2rem;
  color: #F4B56E;
  font-weight: 500; }

/* .contenedor-cantidad-compra {
    //border: 1px solid red;
} */
.cantidad-compra-encabezado {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center; }

.cantidad-compra-producto {
  width: 10rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.mas-cantidad {
  width: 2rem;
  height: 100%;
  border-radius: 2px;
  background-color: #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .mas-cantidad:active {
    color: #78b2f8; }

.cantidad-actual-compra {
  width: 5rem;
  height: 100%;
  border-radius: 2px;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500; }

.menos-cantidad {
  width: 2rem;
  height: 100%;
  border-radius: 2px;
  background-color: #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .menos-cantidad:active {
    color: #78b2f8; }

.boton-agregar-carrito {
  width: 12rem;
  height: 2.5rem;
  border: transparent; }
  .boton-agregar-carrito div {
    border-radius: 4px;
    border: transparent;
    background-color: #3E716A;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: white;
    cursor: pointer; }

#section-descripcion-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 15rem; }
  #section-descripcion-producto ul {
    height: 4rem;
    display: flex;
    align-items: center; }
  #section-descripcion-producto p {
    width: 95%;
    align-self: center; }

#productos-relacionados-cards {
  width: 100%;
  height: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.encabezado-productos-relacionados {
  height: 2.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom: 2px solid #F4B56E; }

.cards-relacionados {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; }

.background-figuras-producto {
  width: inherit;
  position: relative; }
  .background-figuras-producto .background-p-1 {
    position: absolute;
    left: -50px;
    top: 50px; }
    .background-figuras-producto .background-p-1 img {
      width: 8rem;
      height: 8rem; }
  .background-figuras-producto .background-p-2 {
    position: absolute;
    right: -50px;
    top: 50px; }
    .background-figuras-producto .background-p-2 img {
      width: 8rem;
      height: 8rem; }
  .background-figuras-producto .background-p-3 {
    position: absolute;
    left: -80px;
    top: 85vh; }
    .background-figuras-producto .background-p-3 img {
      width: 8rem;
      height: 8rem; }
  .background-figuras-producto .background-p-4 {
    position: absolute;
    right: 0px;
    top: 90vh; }
    .background-figuras-producto .background-p-4 img {
      width: 8rem;
      height: 8rem; }
  .background-figuras-producto .background-p-5 {
    position: absolute;
    left: -50px;
    top: 180vh; }
    .background-figuras-producto .background-p-5 img {
      width: 8rem;
      height: 8rem; }
  .background-figuras-producto .background-p-6 {
    position: absolute;
    right: -80px;
    top: 180vh; }
    .background-figuras-producto .background-p-6 img {
      width: 8rem;
      height: 8rem; }

/* ------------------------------------------------ MOBILE ----------------------------------------------------------  */
@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0; }
  body {
    font-family: "Fredella", sans-serif;
    display: flex;
    flex-direction: column; }
  .body-producto-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; }
  .main-producto-informacion {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; }
  .contenedor-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
    width: 100%;
    height: 8rem; }
    .contenedor-breadcrumb div ol li a {
      text-decoration: none;
      color: black; }
  #section-detalle-compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42rem;
    width: 100%; }
  .imgs-producto {
    align-self: flex-start;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .imagen-central-producto {
    width: 60%;
    height: 70%; }
    .imagen-central-producto img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
  .imagenes-muestra-producto {
    height: 5rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px; }
    .imagenes-muestra-producto img {
      height: 100%;
      width: 5rem;
      border-radius: 5px; }
      .imagenes-muestra-producto img:hover {
        opacity: 0.5; }
  .info-compra-producto {
    align-self: flex-start;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 0rem; }
  .detalle-producto-stock {
    width: fit-content;
    height: fit-content;
    font-size: 0.7rem; }
  .contenedor-nombre-precio {
    width: fit-content;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .detalle-nombre-producto {
    width: fit-content;
    height: 2.5rem;
    background-color: #F4B56E;
    /* border-top-left-radius: 48%;
    border-bottom-left-radius: 48%;
    border-top-right-radius: 48%;
    border-bottom-right-radius: 48%; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase; }
  .detalle-precio-producto {
    font-size: 1.2rem;
    color: #F4B56E;
    font-weight: 500; }
  /* .contenedor-cantidad-compra {
    //border: 1px solid red;
} */
  .cantidad-compra-encabezado {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center; }
  .cantidad-compra-producto {
    width: 10rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .mas-cantidad {
    width: 2rem;
    height: 100%;
    border-radius: 2px;
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .mas-cantidad:active {
      color: #78b2f8; }
  .cantidad-actual-compra {
    width: 5rem;
    height: 100%;
    border-radius: 2px;
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500; }
  .menos-cantidad {
    width: 2rem;
    height: 100%;
    border-radius: 2px;
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .menos-cantidad:active {
      color: #78b2f8; }
  .boton-agregar-carrito {
    width: 12rem;
    height: 2.5rem;
    border: transparent; }
    .boton-agregar-carrito div {
      border-radius: 4px;
      border: transparent;
      background-color: #3E716A;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-weight: 500;
      color: white; }
  #section-descripcion-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.8rem;
    height: 15rem; }
    #section-descripcion-producto ul {
      height: 4rem;
      display: flex;
      align-items: center; }
    #section-descripcion-producto p {
      width: 85%;
      padding: 1rem;
      align-self: center; }
  #productos-relacionados-cards {
    width: 100%;
    height: 54rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .encabezado-productos-relacionados {
    height: 2.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 2px solid #F4B56E; }
  .cards-relacionados {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; }
    .cards-relacionados #card-relacionados-1 {
      height: 45%;
      width: 20%; }
      .cards-relacionados #card-relacionados-1 img {
        max-width: 100%;
        height: auto;
        overflow: hidden; }
    .cards-relacionados #card-relacionados-2 {
      height: 45%;
      width: 20%; }
      .cards-relacionados #card-relacionados-2 img {
        max-width: 100%;
        height: auto;
        overflow: hidden; }
  .background-figuras-producto {
    width: inherit;
    position: relative; }
    .background-figuras-producto .background-p-1 {
      position: absolute;
      left: -50px;
      top: 50px; }
      .background-figuras-producto .background-p-1 img {
        width: 8rem;
        height: 8rem; }
    .background-figuras-producto .background-p-2 {
      position: absolute;
      width: fit-content;
      right: 0px;
      top: 10px; }
      .background-figuras-producto .background-p-2 img {
        width: 8rem;
        height: 8rem; }
    .background-figuras-producto .background-p-3 {
      position: absolute;
      left: -80px;
      top: 84vh; }
      .background-figuras-producto .background-p-3 img {
        width: 8rem;
        height: 8rem; }
    .background-figuras-producto .background-p-4 {
      position: absolute;
      right: 0px;
      top: 90vh; }
      .background-figuras-producto .background-p-4 img {
        width: 8rem;
        height: 8rem; }
    .background-figuras-producto .background-p-5 {
      position: absolute;
      left: -50px;
      top: 180vh; }
      .background-figuras-producto .background-p-5 img {
        width: 8rem;
        height: 8rem; }
    .background-figuras-producto .background-p-6 {
      display: none;
      position: absolute;
      right: -80px;
      top: 180vh; }
      .background-figuras-producto .background-p-6 img {
        width: 8rem;
        height: 8rem; } }

.shopcart {
  position: relative;
  z-index: 20;
  min-height: 500px; }
  .shopcart-title {
    padding-top: 2rem; }

.swal2-actions {
  gap: 1rem; }

.summary-cart {
  display: flex;
  flex-direction: column;
  background-color: #e4f0f0;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1.5rem; }
  .summary-cart .summary-title h5 {
    font-size: 1.5rem; }
  .summary-cart .summary-total,
  .summary-cart .summary-amount {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem; }
  .summary-cart .btn-complete {
    margin-top: 1rem;
    background-color: #3E716A; }

.cart-products {
  border-top: 1px solid #e6e5e5;
  padding-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem; }
  .cart-products hr {
    border-top: 1px solid #b1b1b1;
    margin-top: 0; }

.product-cart {
  padding: 2rem 0; }
  .product-cart-figure img {
    width: 15rem; }
  .product-cart-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .product-cart-body .btn-close {
      background-size: .7rem; }
    .product-cart-body .btn-close:focus {
      box-shadow: none; }

.product-cart-title {
  font-weight: 600; }

.boton-envio-wp {
  color: white;
  text-decoration: none; }
  .boton-envio-wp:focus {
    color: white;
    text-decoration: none; }

body {
  display: flex;
  flex-direction: column; }

header {
  height: 70px;
  background: white;
  z-index: 50;
  position: fixed; }

nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between; }

.contenedor-logo {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .contenedor-logo .imagen-logo {
    width: 80px;
    height: 100%; }

#contenedor-items-desktop {
  display: none; }

.contenedor-items-mobile {
  position: absolute;
  left: -80vw;
  top: 0;
  width: 80vw;
  height: 100vh;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 10;
  opacity: 1; }
  .contenedor-items-mobile.active {
    opacity: 1; }
  .contenedor-items-mobile .contenedor-logo-menu {
    width: 70%;
    height: 30%;
    align-self: flex-start; }
  .contenedor-items-mobile .listado-items-menu {
    width: 100%;
    height: 60%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 7%; }
    .contenedor-items-mobile .listado-items-menu li {
      width: 80%;
      height: 10%;
      text-align: left;
      font-family: "Fredella", sans-serif;
      font-size: 1.2rem;
      font-weight: 600; }
      .contenedor-items-mobile .listado-items-menu li a {
        color: #256943;
        width: 100%;
        height: 100%; }

@keyframes deslizar-derecha {
  0% {
    left: -80vw; }
  100% {
    left: 0px; } }

@keyframes deslizar-izquierda {
  0% {
    left: 0px; }
  100% {
    left: -80vw; } }

.iconos-redes-menu {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: space-evenly; }
  .iconos-redes-menu img {
    width: 100%; }
  .iconos-redes-menu a {
    color: black; }

.contenedor-icono-carrito {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1%; }
  .contenedor-icono-carrito .cart {
    color: black;
    width: 1.5rem;
    margin-right: .6rem; }
  .contenedor-icono-carrito svg {
    color: #F4B56E; }

/**********************
********* MAIN ********
**********************/
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem; }

#carrusel-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
  justify-content: center; }
  #carrusel-productos .carrusel-destacado {
    width: 100%;
    height: 80%; }
  #carrusel-productos .contenedor-encabezado-destacados {
    display: flex;
    height: 20%;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px; }
    #carrusel-productos .contenedor-encabezado-destacados .linea-encabezado {
      align-self: flex-start;
      height: 50%;
      width: 20%;
      border-bottom: 3px solid #F4B56E; }
    #carrusel-productos .contenedor-encabezado-destacados .encabezado-destacado {
      width: 80%;
      display: flex;
      align-items: center; }
      #carrusel-productos .contenedor-encabezado-destacados .encabezado-destacado h3 {
        font-weight: 600;
        font-family: "Fredella", sans-serif; }

.contenedor-imagenes-carrusel {
  height: 100%; }

#contenedor-ofertas {
  display: none; }

#videos-evidencias {
  width: 100%;
  height: 50vh; }
  #videos-evidencias .video-clientes {
    background-color: #FBDBC3;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; }
    #videos-evidencias .video-clientes video {
      width: 100% !important;
      height: 100% !important;
      border-radius: 5px; }
  #videos-evidencias .contenedor-encabezado-videos {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; }
    #videos-evidencias .contenedor-encabezado-videos .linea-encabezado-video {
      align-self: flex-start;
      height: 50%;
      width: 20%;
      border-bottom: 3px solid #F4B56E; }
    #videos-evidencias .contenedor-encabezado-videos .encabezado-video {
      width: 80%;
      text-align: right; }
      #videos-evidencias .contenedor-encabezado-videos .encabezado-video h3 {
        font-weight: 600;
        font-family: "Fredella", sans-serif; }

#caja-suscripcion-desktop {
  display: none; }

#caja-suscripcion-mobile {
  height: 28vh;
  width: 100%;
  background-color: #B1C5C5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  #caja-suscripcion-mobile .ilustracion-calendario {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fedec6; }
    #caja-suscripcion-mobile .ilustracion-calendario img {
      width: 100%;
      height: auto; }
  #caja-suscripcion-mobile .formulario-suscripcion {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #caja-suscripcion-mobile .formulario-suscripcion form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      #caja-suscripcion-mobile .formulario-suscripcion form .encabezado-suscripcion {
        font-weight: 600; }
      #caja-suscripcion-mobile .formulario-suscripcion form label {
        text-align: center;
        width: 70%;
        font-weight: 600; }
      #caja-suscripcion-mobile .formulario-suscripcion form input {
        border: transparent;
        border-radius: 4px; }
      #caja-suscripcion-mobile .formulario-suscripcion form #boton-formulario-suscripcion {
        width: 30%;
        color: white;
        background-color: #6D9E95;
        border: transparent;
        border-radius: 4px; }

/************************
********* FOOTER ********
************************/
footer {
  background-color: #3E756E;
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column; }

.footer-redes-informacion-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%; }

.footer-informacion {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }
  .footer-informacion .li-telefono {
    position: relative;
    font-size: 1rem;
    top: 1rem;
    right: 0;
    list-style: none;
    color: #F4B56E;
    font-weight: 500; }
  .footer-informacion ul {
    list-style-type: none; }
    .footer-informacion ul li {
      position: relative;
      right: 1.2rem;
      font-size: 0.9rem; }

.footer-redes {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  border-left: 1px solid white; }
  .footer-redes svg {
    color: white; }

.derechos-footer {
  width: 100%;
  height: 20%;
  text-align: center;
  color: white;
  font-size: 0.8rem; }

.footer-redes-informacion-desktop {
  display: none; }

/****************************************** TABLET AND DESKTOP **********************************************/
@media (min-width: 600px) {
  * {
    margin: 0;
    padding: 0; }
  body {
    font-family: "Fredella", sans-serif;
    display: flex;
    flex-direction: column; }
  /*---------------- HEADER ---------------- */
  /* --------------------------------------- */
  header {
    height: 70px; }
  nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center; }
  .contenedor-logo {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .contenedor-logo .imagen-logo {
      width: 90px;
      height: fit-content; }
  #contenedor-items-desktop {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: row; }
    #contenedor-items-desktop .listado-items-menu-desktop {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 1rem;
      width: 100%;
      height: 100%; }
      #contenedor-items-desktop .listado-items-menu-desktop .li-catalogo {
        border-bottom: 2px solid #F4B56E;
        width: 5rem;
        text-align: center; }
        #contenedor-items-desktop .listado-items-menu-desktop .li-catalogo a {
          color: black;
          font-family: "Fredella", sans-serif; }
          #contenedor-items-desktop .listado-items-menu-desktop .li-catalogo a:hover {
            text-decoration: none; }
  .contenedor-items-mobile {
    display: none; }
  .iconos-redes-menu {
    display: none; }
  .contenedor-icono-carrito {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0; }
    .contenedor-icono-carrito .cart {
      color: black;
      width: 1.5rem;
      margin-right: .6rem;
      cursor: pointer; }
    .contenedor-icono-carrito span {
      color: #3E756E; }
    .contenedor-icono-carrito .menu-icono {
      display: none; }
  .catalogo-drop {
    width: fit-content !important; }
  /*---------------- MAIN ---------------- */
  /* --------------------------------------- */
  main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #carrusel-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38rem;
    width: 100%;
    justify-content: center; }
    #carrusel-productos .carrusel-destacado {
      width: 100%;
      height: 100%; }
    #carrusel-productos .contenedor-encabezado-destacados {
      display: none; }
  .contenedor-imagenes-carrusel {
    width: 100%;
    height: 100%; }
    .contenedor-imagenes-carrusel img {
      max-width: 100% !important;
      height: auto !important; }
  #contenedor-ofertas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100%; }
  .espacio-blanco {
    width: 100%;
    height: 2.5rem;
    background-color: #3E756E; }
  .encabezado-ofertas {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .encabezado-ofertas h3 {
      border-bottom: 2px solid #F4B56E;
      font-family: "Fredella", sans-serif; }
  .encabezado-ofertas-opciones {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none; }
    .encabezado-ofertas-opciones li a {
      color: black;
      font-family: "Fredella", sans-serif; }
      .encabezado-ofertas-opciones li a:hover {
        text-decoration: none; }
  .ofertas-cards {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .card-mod {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card-nombre-producto {
    list-style: none;
    font-family: "Fredella", sans-serif;
    font-size: 1rem; }
  .card-precio-producto {
    list-style: none;
    font-family: "Fredella", sans-serif;
    font-size: 0.9rem; }
  #card-oferta-1 {
    cursor: pointer; }
  #card-oferta-2 {
    cursor: pointer; }
  #card-oferta-3 {
    cursor: pointer; }
  #card-oferta-4 {
    cursor: pointer; }
  #videos-evidencias {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #videos-evidencias .video-clientes {
      background-color: #FBDBC3;
      width: 20rem;
      height: 20rem;
      order: 2;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }
      #videos-evidencias .video-clientes video {
        width: 100%;
        height: 90%; }
    #videos-evidencias .contenedor-encabezado-videos {
      order: 1;
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0px; }
      #videos-evidencias .contenedor-encabezado-videos .linea-encabezado-video {
        display: none; }
      #videos-evidencias .contenedor-encabezado-videos .encabezado-video {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center; }
        #videos-evidencias .contenedor-encabezado-videos .encabezado-video h3 {
          text-align: center;
          text-transform: uppercase;
          height: fit-content;
          width: fit-content;
          font-weight: 400;
          border-bottom: 2px solid #F4B56E; }
  #caja-suscripcion-mobile {
    display: none; }
  #caja-suscripcion-desktop {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .caja-encabezado {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .caja-encabezado h3 {
      text-align: center;
      height: fit-content;
      width: 9rem;
      font-weight: 400;
      border-bottom: 2px solid #F4B56E; }
  .caja-suscribir {
    height: 65%;
    width: 100%;
    background-color: #B1C5C5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .caja-suscribir .ilustracion-calendario {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 100%;
      background-color: #fedec6; }
      .caja-suscribir .ilustracion-calendario img {
        width: 6rem;
        height: auto; }
    .caja-suscribir .formulario-suscripcion {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .caja-suscribir .formulario-suscripcion form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        .caja-suscribir .formulario-suscripcion form label {
          text-align: center;
          font-size: 1.5rem;
          width: 70%;
          font-weight: 500; }
        .caja-suscribir .formulario-suscripcion form .formulario-inputs {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          gap: 2rem; }
          .caja-suscribir .formulario-suscripcion form .formulario-inputs input {
            width: 40%;
            height: 2rem;
            border: transparent;
            border-radius: 4px; }
          .caja-suscribir .formulario-suscripcion form .formulario-inputs #boton-formulario-suscripcion {
            width: 10%;
            color: white;
            background-color: #6D9E95;
            border: transparent;
            border-radius: 4px; }
  footer {
    background-color: #3E756E;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column; }
  .footer-redes-informacion-mobile {
    display: none; }
  .derechos-footer {
    display: none; }
  .footer-redes-informacion-desktop {
    width: 100%;
    height: 100%;
    display: flex; }
  .caja-logo-redes-footer {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .caja-logo-redes-footer .caja-logo-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80%; }
      .caja-logo-redes-footer .caja-logo-footer img {
        width: 180px;
        height: 180px; }
    .caja-logo-redes-footer .caja-redes-footer {
      width: 50%;
      height: 18%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      border-top: solid 1px white; }
      .caja-logo-redes-footer .caja-redes-footer svg {
        color: white; }
  .caja-informacion-footer {
    width: 70%;
    height: 100%;
    display: flex; }
  .caja-informacion-nosotros-footer {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .caja-informacion-nosotros-footer a {
      color: white;
      text-decoration: none; }
      .caja-informacion-nosotros-footer a:focus {
        color: white;
        text-decoration: none; }
    .caja-informacion-nosotros-footer h4 {
      color: #F4B56E; }
    .caja-informacion-nosotros-footer li {
      list-style: none;
      color: white; }
  .caja-informacion-productos-footer {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .caja-informacion-productos-footer h4 {
      color: #F4B56E; }
    .caja-informacion-productos-footer li {
      list-style: none;
      color: white; }
  .caja-informacion-horario-footer {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .caja-informacion-horario-footer h4 {
      color: #F4B56E; }
    .caja-informacion-horario-footer li {
      list-style: none;
      color: white; } }

#contenedor-nosotros-desktop {
  display: none; }

#nosotros-equipo {
  display: none; }

.background-figuras-nosotros {
  display: none; }

.background-equipo {
  display: none; }

#contenedor-nosotros-mobile {
  width: 100%;
  height: 77vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: transparent; }

.nosotros-primera-burbuja {
  align-self: flex-start;
  width: 100%;
  height: 50%;
  border-bottom-right-radius: 50%;
  background-color: #FBDBC3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; }
  .nosotros-primera-burbuja p {
    width: 80%;
    font-weight: 300;
    font-style: italic;
    z-index: 2; }
  .nosotros-primera-burbuja h1 {
    z-index: 2; }

.nosotros-segunda-burbuja {
  width: 100%;
  height: 48%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 10%;
  background-color: #B1C5C5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nosotros-segunda-burbuja p {
    margin: 0;
    width: 80%;
    font-weight: 400;
    font-style: italic;
    z-index: 2;
    text-align: right; }

.background-n-1 {
  width: 8rem;
  position: absolute;
  left: 180px;
  top: 180px;
  z-index: 1; }
  .background-n-1 img {
    width: 100%;
    height: auto; }

.background-n-2 {
  width: 100%;
  position: absolute;
  right: 1px;
  top: 120px;
  z-index: 1; }
  .background-n-2 img {
    width: 28%;
    height: auto; }

.background-n-3 {
  width: 8rem;
  position: absolute;
  left: 240px;
  bottom: 190px;
  z-index: 1; }
  .background-n-3 img {
    width: 100%;
    height: auto; }

.background-n-4 {
  width: 8rem;
  position: absolute;
  left: 50px;
  bottom: 335px;
  z-index: 1; }
  .background-n-4 img {
    width: 100%;
    height: auto; }

@media (min-width: 600px) {
  * {
    margin: 0;
    padding: 0; }
  body {
    font-family: "Fredella", sans-serif;
    display: flex;
    flex-direction: column; }
  #contenedor-nosotros-mobile {
    display: none; }
  .background-figuras-nosotros {
    display: inherit;
    position: relative;
    width: inherit;
    z-index: 1; }
    .background-figuras-nosotros .background-n-1 {
      position: absolute;
      width: 8rem;
      height: 8rem;
      left: 0px;
      top: 40px; }
      .background-figuras-nosotros .background-n-1 img {
        width: 100%;
        height: 100%; }
    .background-figuras-nosotros .background-n-2 {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 8rem;
      height: 8rem; }
      .background-figuras-nosotros .background-n-2 img {
        width: 100%;
        height: 100%; }
    .background-figuras-nosotros .background-n-3 {
      position: absolute;
      left: 0px;
      top: 80vh;
      width: 8rem;
      height: 8rem; }
      .background-figuras-nosotros .background-n-3 img {
        width: 100%;
        height: 100%; }
    .background-figuras-nosotros .background-n-4 {
      position: absolute;
      left: 88vw;
      top: 60vh;
      width: 8rem;
      height: 8rem; }
      .background-figuras-nosotros .background-n-4 img {
        width: 100%;
        height: 100%; }
  #contenedor-nosotros-desktop {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .nosotros-encabezado {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nosotros-encabezado h1 {
      height: fit-content;
      text-align: center;
      width: max-content;
      border-bottom: 2px solid #F4B56E; }
  .nosotros-primer-parrafo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 48%;
    width: 100%; }
  .contenedor-parrafo-1 {
    width: 45%;
    height: 85%;
    background-color: #FBDBC3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 55%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 55%; }
    .contenedor-parrafo-1 p {
      font-size: 0.85rem;
      font-style: italic;
      width: 60%; }
  .nosotros-segundo-parrafo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 48%;
    width: 100%; }
  .contenedor-parrafo-2 {
    width: 45%;
    height: 94%;
    background-color: #B1C5C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 55%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 55%;
    border-bottom-left-radius: 40%; }
    .contenedor-parrafo-2 p {
      font-size: 0.85rem;
      font-style: italic;
      width: 70%;
      text-align: right; }
  .nosotros-img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nosotros-img img {
      width: 60%;
      height: 80%;
      border-radius: 5px; }
  #nosotros-equipo {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .background-equipo {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .background-equipo-1 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: 200px;
    right: 0px; }
  .background-equipo-2 {
    position: absolute;
    width: 8rem;
    height: 8rem;
    bottom: 240px;
    left: 100px; }
  .encabezado-equipo {
    width: max-content;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #F4B56E; }
  .foto-equipo {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    overflow: hidden; }
    .foto-equipo img {
      height: inherit;
      object-fit: cover; } }

.background {
  position: relative;
  width: inherit;
  overflow: hidden; }
  .background .bg img {
    width: 6rem;
    height: 6rem; }
  .background .bg-1 {
    position: absolute;
    left: -10px;
    top: -5px; }
  .background .bg-2 {
    position: absolute;
    right: -15px;
    top: -20px; }
  .background .bg-3 {
    position: absolute;
    right: -15px;
    bottom: -40px; }
  .background .bg-4 {
    position: absolute;
    left: -15px;
    bottom: -40px; }

@media screen and (max-width: 1120px) {
  #carrusel-productos {
    height: 28rem; } }

@media screen and (max-width: 780px) {
  #carrusel-productos {
    height: 20rem; }
  .contact-detail {
    gap: 1rem;
    margin-bottom: 1rem; }
    .contact-detail-row {
      gap: 1rem;
      margin: .5rem 3rem; }
  .catalog-title {
    margin-left: 2.3rem; }
  .catalog .filter {
    margin: 0 2rem; }
    .catalog .filter-content {
      width: 100%; }
  .catalog .products {
    margin: 0 2rem; }
  .catalog .product-details {
    position: relative;
    opacity: 1;
    background: transparent; }
    .catalog .product-details .btn {
      margin-bottom: 2rem;
      filter: none;
      border-radius: 10px;
      width: 4rem; }
  .catalog .product-price {
    padding-bottom: 1rem; }
  .shopcart-title {
    text-align: center;
    margin-top: 2rem; }
  .product-cart {
    padding: 0rem 1rem 1rem 1rem; }
    .product-cart-figure img {
      width: 8rem; }
  .cart-products {
    margin-right: 0; } }
