*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html, body {
  margin: 0;
  height: 100%; }

.background {
  position: relative; }
  .background img {
    width: 6rem;
    height: 6rem; }
  .background .bg-1 {
    position: absolute;
    left: -10px;
    top: -5px; }
  .background .bg-2 {
    position: absolute;
    right: -15px;
    top: -20px; }
  .background .bg-3 {
    position: absolute;
    right: -15px;
    bottom: -40px; }
  .background .bg-4 {
    position: absolute;
    left: -15px;
    bottom: -40px; }

@font-face {
  font-family: "Fredella";
  src: url("../../../fonts/CreamCake.otf"); }

.contact-card {
  background-color: #FBDBC3; }

.contact-header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  position: relative; }
  .contact-header img {
    width: 4rem;
    height: 3.5rem; }

.contact-title {
  display: inline-flex;
  font-family: "Fredella", sans-serif;
  margin: auto 0;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  justify-content: center;
  align-items: center; }

.contact-title::before {
  content: '';
  position: absolute;
  content: '';
  background-color: #FBDBC3;
  width: 150px;
  height: 3px;
  bottom: -10px; }

.contact .icon-circle {
  width: fit-content;
  border-radius: 50%;
  overflow: hidden; }
  .contact .icon-circle img {
    width: 4rem;
    height: auto; }

.catalog-route li > a {
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column; }

header {
  height: 70px; }

nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between; }

.contenedor-logo {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .contenedor-logo .imagen-logo {
    width: 80px;
    height: fit-content; }

#contenedor-items-desktop {
  display: none; }

.contenedor-items-mobile {
  position: absolute;
  left: -80vw;
  top: 0;
  width: 80vw;
  height: 100vh;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 10; }
  .contenedor-items-mobile .contenedor-logo-menu {
    width: 70%;
    height: 30%;
    align-self: flex-start; }
  .contenedor-items-mobile .listado-items-menu {
    width: 100%;
    height: 60%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 7%; }
    .contenedor-items-mobile .listado-items-menu li {
      width: 80%;
      height: 10%;
      text-align: left;
      font-family: "Fredella", sans-serif;
      font-size: 1.2rem;
      font-weight: 600; }
      .contenedor-items-mobile .listado-items-menu li a {
        color: black;
        width: 100%;
        height: 100%; }

@keyframes deslizar-derecha {
  0% {
    left: -80vw; }
  100% {
    left: 0px; } }

@keyframes deslizar-izquierda {
  0% {
    left: 0px; }
  100% {
    left: -80vw; } }

.iconos-redes-menu {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: space-evenly; }
  .iconos-redes-menu img {
    width: 100%; }

.contenedor-icono-carrito {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1%; }
  .contenedor-icono-carrito .cart {
    color: black; }
  .contenedor-icono-carrito svg {
    color: #F4B56E; }

/**********************
********* MAIN ********
**********************/
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

#carrusel-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
  justify-content: center; }
  #carrusel-productos .carrusel-destacado {
    width: 100%;
    height: 80%; }
  #carrusel-productos .contenedor-encabezado-destacados {
    display: flex;
    height: 20%;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px; }
    #carrusel-productos .contenedor-encabezado-destacados .linea-encabezado {
      align-self: flex-start;
      height: 50%;
      width: 20%;
      border-bottom: 3px solid #F4B56E; }
    #carrusel-productos .contenedor-encabezado-destacados .encabezado-destacado {
      width: 80%;
      display: flex;
      align-items: center; }
      #carrusel-productos .contenedor-encabezado-destacados .encabezado-destacado h2 {
        font-weight: 600;
        font-family: "Fredella", sans-serif; }

.contenedor-imagenes-carrusel {
  height: 100%; }

#contenedor-ofertas {
  display: none; }

#videos-evidencias {
  width: 100%;
  height: 50vh; }
  #videos-evidencias .video-clientes {
    background-color: #FBDBC3;
    height: 80%; }
  #videos-evidencias .contenedor-encabezado-videos {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; }
    #videos-evidencias .contenedor-encabezado-videos .linea-encabezado-video {
      align-self: flex-start;
      height: 50%;
      width: 20%;
      border-bottom: 3px solid #F4B56E; }
    #videos-evidencias .contenedor-encabezado-videos .encabezado-video {
      width: 80%;
      text-align: right; }
      #videos-evidencias .contenedor-encabezado-videos .encabezado-video h2 {
        font-weight: 600;
        font-family: "Fredella", sans-serif; }

#caja-suscripcion-desktop {
  display: none; }

#caja-suscripcion-mobile {
  height: 28vh;
  width: 100%;
  background-color: #B1C5C5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  #caja-suscripcion-mobile .ilustracion-calendario {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fedec6; }
    #caja-suscripcion-mobile .ilustracion-calendario img {
      width: 100%;
      height: auto; }
  #caja-suscripcion-mobile .formulario-suscripcion {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #caja-suscripcion-mobile .formulario-suscripcion form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      #caja-suscripcion-mobile .formulario-suscripcion form .encabezado-suscripcion {
        font-weight: 600; }
      #caja-suscripcion-mobile .formulario-suscripcion form label {
        text-align: center;
        width: 70%;
        font-weight: 600; }
      #caja-suscripcion-mobile .formulario-suscripcion form input {
        border: transparent;
        border-radius: 4px; }
      #caja-suscripcion-mobile .formulario-suscripcion form #boton-formulario-suscripcion {
        width: 30%;
        color: white;
        background-color: #6D9E95;
        border: transparent;
        border-radius: 4px; }

/************************
********* FOOTER ********
************************/
footer {
  background-color: #3E756E;
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column; }

.footer-redes-informacion-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%; }

.footer-informacion {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }
  .footer-informacion .li-telefono {
    position: relative;
    font-size: 1rem;
    top: 1rem;
    right: 0;
    list-style: none; }
  .footer-informacion ul {
    list-style-type: none; }
    .footer-informacion ul li {
      position: relative;
      right: 1.2rem;
      font-size: 0.9rem; }

.footer-redes {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  border-left: 1px solid white; }
  .footer-redes svg {
    color: white; }

.derechos-footer {
  width: 100%;
  height: 20%;
  text-align: center;
  color: white;
  font-size: 0.8rem; }

.footer-redes-informacion-desktop {
  display: none; }

/****************************************** TABLET AND DESKTOP **********************************************/
@media (min-width: 600px) {
  * {
    margin: 0;
    padding: 0; }
  body {
    font-family: "Fredella", sans-serif;
    display: flex;
    flex-direction: column; }
  /*---------------- HEADER ---------------- */
  /* --------------------------------------- */
  header {
    height: 70px; }
  nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center; }
  .contenedor-logo {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .contenedor-logo .imagen-logo {
      width: 90px;
      height: fit-content; }
  #contenedor-items-desktop {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: row; }
    #contenedor-items-desktop .listado-items-menu-desktop {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 1rem;
      width: 100%;
      height: 100%; }
      #contenedor-items-desktop .listado-items-menu-desktop .li-catalogo {
        border-bottom: 2px solid #F4B56E;
        width: 5rem;
        text-align: center; }
        #contenedor-items-desktop .listado-items-menu-desktop .li-catalogo a {
          color: black;
          font-family: "Fredella", sans-serif; }
          #contenedor-items-desktop .listado-items-menu-desktop .li-catalogo a:hover {
            text-decoration: none; }
  .contenedor-items-mobile {
    display: none; }
  .iconos-redes-menu {
    display: none; }
  .contenedor-icono-carrito {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0; }
    .contenedor-icono-carrito .cart {
      color: black;
      width: 2.4rem; }
    .contenedor-icono-carrito .menu-icono {
      display: none; }
  /*---------------- MAIN ---------------- */
  /* --------------------------------------- */
  main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #carrusel-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100%;
    justify-content: center; }
    #carrusel-productos .carrusel-destacado {
      width: 100%;
      height: 100%; }
    #carrusel-productos .contenedor-encabezado-destacados {
      display: none; }
  .contenedor-imagenes-carrusel {
    width: 100%;
    height: 100%; }
    .contenedor-imagenes-carrusel img {
      max-width: 100% !important;
      height: auto !important; }
  #contenedor-ofertas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100%; }
  .espacio-blanco {
    width: 100%;
    height: 2.5rem;
    background-color: #3E756E; }
  .encabezado-ofertas {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .encabezado-ofertas h3 {
      border-bottom: 2px solid #F4B56E;
      font-family: "Fredella", sans-serif; }
  .encabezado-ofertas-opciones {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none; }
    .encabezado-ofertas-opciones li a {
      color: black;
      font-family: "Fredella", sans-serif; }
      .encabezado-ofertas-opciones li a:hover {
        text-decoration: none; }
  .ofertas-cards {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .card-mod {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card-nombre-producto {
    list-style: none;
    font-family: "Fredella", sans-serif;
    font-size: 1rem; }
  .card-precio-producto {
    list-style: none;
    font-family: "Fredella", sans-serif;
    font-size: 0.9rem; }
  #videos-evidencias {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #videos-evidencias .video-clientes {
      background-color: #FBDBC3;
      width: 20rem;
      height: 20rem;
      order: 2;
      border-radius: 5px; }
    #videos-evidencias .contenedor-encabezado-videos {
      order: 1;
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0px; }
      #videos-evidencias .contenedor-encabezado-videos .linea-encabezado-video {
        display: none; }
      #videos-evidencias .contenedor-encabezado-videos .encabezado-video {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center; }
        #videos-evidencias .contenedor-encabezado-videos .encabezado-video h3 {
          text-align: center;
          height: fit-content;
          width: 6rem;
          font-weight: 400;
          border-bottom: 2px solid #F4B56E; }
  #caja-suscripcion-mobile {
    display: none; }
  #caja-suscripcion-desktop {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .caja-encabezado {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .caja-encabezado h3 {
      text-align: center;
      height: fit-content;
      width: 9rem;
      font-weight: 400;
      border-bottom: 2px solid #F4B56E; }
  .caja-suscribir {
    height: 65%;
    width: 100%;
    background-color: #B1C5C5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .caja-suscribir .ilustracion-calendario {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      height: 100%;
      background-color: #fedec6; }
      .caja-suscribir .ilustracion-calendario img {
        width: 6rem;
        height: auto; }
    .caja-suscribir .formulario-suscripcion {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .caja-suscribir .formulario-suscripcion form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        .caja-suscribir .formulario-suscripcion form label {
          text-align: center;
          font-size: 1.5rem;
          width: 70%;
          font-weight: 500; }
        .caja-suscribir .formulario-suscripcion form .formulario-inputs {
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          gap: 2rem; }
          .caja-suscribir .formulario-suscripcion form .formulario-inputs input {
            width: 40%;
            height: 2rem;
            border: transparent;
            border-radius: 4px; }
          .caja-suscribir .formulario-suscripcion form .formulario-inputs #boton-formulario-suscripcion {
            width: 10%;
            color: white;
            background-color: #6D9E95;
            border: transparent;
            border-radius: 4px; }
  footer {
    background-color: #3E756E;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column; }
  .footer-redes-informacion-mobile {
    display: none; }
  .derechos-footer {
    display: none; }
  .footer-redes-informacion-desktop {
    width: 100%;
    height: 100%;
    display: flex; }
  .caja-logo-redes-footer {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .caja-logo-redes-footer .caja-logo-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80%; }
      .caja-logo-redes-footer .caja-logo-footer img {
        width: 180px;
        height: 180px; }
    .caja-logo-redes-footer .caja-redes-footer {
      width: 50%;
      height: 18%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      border-top: solid 1px white; }
      .caja-logo-redes-footer .caja-redes-footer svg {
        color: white; }
  .caja-informacion-footer {
    width: 70%;
    height: 100%;
    display: flex; }
  .caja-informacion-nosotros-footer {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .caja-informacion-nosotros-footer h4 {
      color: #F4B56E; }
    .caja-informacion-nosotros-footer li {
      list-style: none;
      color: white; }
  .caja-informacion-productos-footer {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .caja-informacion-productos-footer h4 {
      color: #F4B56E; }
    .caja-informacion-productos-footer li {
      list-style: none;
      color: white; }
  .caja-informacion-horario-footer {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .caja-informacion-horario-footer h4 {
      color: #F4B56E; }
    .caja-informacion-horario-footer li {
      list-style: none;
      color: white; } }
